/* ------------------------------------------------------------------------------
 *
 *  Custom CSS
 *
 * ---------------------------------------------------------------------------- */

.navbar-brand {
    padding: 6px 20px;
}

.navbar-brand > img {
    margin-top: 0px;
    height: 30px;
}
